{%extends '../base.html'%} {%block title%}Habr jo'natildi {%endblock%} {% block content %}
<h1>Parol o'zgardi</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nihil eius impedit facere. Magni expedita ad quis placeat animi eligendi, consectetur minus natus, vero, dignissimos accusantium! Minus cupiditate iste itaque ducimus distinctio rerum assumenda
    atque fuga, tenetur nesciunt, blanditiis accusantium, saepe laudantium voluptatibus nostrum officiis neque pariatur. Aut, a sed?</p>
<a href="{%url 'login'%}">Login</a> {%endblock%}